<!-- Content Heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
} %>

<!-- Message Block -->
<% if (locals.message){messages()} %>

<!-- Display form -->
<form action="/inv/add-inventory" method="post">
    <label for="classification_name">Classification<br>
        <%- dropDown %>
    </label>

    <label for="inv_make">Make<br>
        <input type="text" name="inv_make" id="invMake" pattern="^[A-Za-z]+$" required value="<%= locals.inv_make %>">
    </label>

    <label for="inv_model">Model<br>
        <input type="text" name="inv_model" id="invModel" required value="<%= locals.inv_model %>">
    </label>

    <label for="inv_year">Year<br>
        <input type="text" name="inv_year" id="invYear" pattern="^[0-9]*$" required value="<%= locals.inv_year %>">
    </label>    

    <label for="inv_description">Description<br>
        <textarea name="inv_description" id="invDescription" cols="30" rows="10" required value="<%= locals.inv_description %>"></textarea>
    </label>

    <label for="inv_image">Image path<br>
        <input type="text" name="inv_image" id="invImage" required value="<%= locals.inv_image %>">
    </label>

    <label for="inv_thumbnail">Thumbnail path<br>
        <input type="text" name="inv_thumbnail" id="invThumbnail" required value="<%= locals.inv_thumbnail %>">
    </label>

    <label for="inv_price">Price<br>
        <input type="text" name="inv_price" id="invPrice" pattern="^[0-9]*$" required value="<%= locals.inv_price %>">
    </label>

    <label for="inv_miles">Miles<br>
        <input type="text" name="inv_miles" id="invMiles" pattern="^[0-9]*$" required value="<%= locals.inv_miles %>">
    </label>

    <label for="inv_color">Color<br>
        <input type="text" name="inv_color" id="invColor" required value="<%= locals.inv_color %>">
    </label>

    <button>Add</button>
</form>